@page "/"
@using Weavenest.Components.Mind

<PageTitle>Jeremy</PageTitle>

<div class="mind-container">
    <div class="panel conscious-panel-container">
        <ConsciousStreamPanel />
    </div>
    <div class="panel chat-panel-container">
        <ChatPanel />
    </div>
    <div class="panel subconscious-panel-container">
        <SubconsciousPanel />
    </div>
</div>
