@page "/"
@using Weavenest.Components.Mind

<PageTitle>Jeremy</PageTitle>

<div class="mind-container">
    <div class="panel conscious-panel-container">
        <ConsciousStreamPanel />
    </div>
    <div class="panel chat-panel-container">
        <ChatPanel />
    </div>
    <div class="panel subconscious-panel-container">
        <div class="right-column">
            <div class="right-top">
                <SubconsciousPanel />
            </div>
            <div class="right-bottom">
                <ToolCallLogPanel />
            </div>
        </div>
    </div>
</div>
